# ---- CMake / build ----
build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile
CTestTestfile.cmake
_deps/

# (если не нужен) база компиляции
compile_commands.json

# ---- бинарники и объекты ----
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.out

# ---- наши результаты ----
*.csv

# ---- IDE (по желанию) ----
.vscode/
.idea/
