build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile
CTestTestfile.cmake
_deps/

compile_commands.json

*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.out
*.csv

# ---- IDE (по желанию) ----
.vscode/
.idea/
